*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    
    --brand-color-ligth: #60A5FA;
    --brand-color-dark: #1D4ED8;
    
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
    
    --font-family: "Archivo", sans-serif;
    --h1: 800 2.4rem/135% var(--font-family);
    --h2: 800 1.6rem/140% var(--font-family);
    --h3: 800  1.4rem/140% var(--font-family);
    --span: 600 1.4rem/145% var(--font-family);
    --p: 400 1.4rem/160% var(--font-family);
    --tags: 500 1rem/120% var(--font-family);
}

body {
    color: var(--text-color-primary);
    background-color: var(--bg-color);
    font: var(--font-family);
}

a {
    text-decoration: none;
    color: inherit;
    font: var(--span);
}

a:hover {
    color: var(--brand-color-ligth);
}

h1, h2, h3 {
    font: inherit;
}

img {
    max-width: 100%;
}

.conteiner {
    max-width: 128rem;
    padding-inline: 3.2rem;
    margin-inline: auto;
}

main {
    margin-top: 4rem;
}

.tag {
    display: inline-block;
    font: var(--tags);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-primary);

    background-color:var(--brand-color-dark) ;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 16px 0px rgba(2, 6, 23, 0.251);
}

.text-h3 {
    font: var(--h3);
    width: 26.4rem;
    margin-top: 0.8rem;
}
